.CatalogPage {
    display: grid;
    grid-template-areas: "filters camperList";
    grid-template-columns: 360px 1fr;
    gap: 64px;
    padding-top: 48px;
    padding-bottom: 58px;
  }

.Filters {
  grid-area: filters;
}

.camperList {
  grid-area: camperList;
}