.reviewSection {
  margin-top: 12px;
}

.reviewContainer {
  display: flex;
  margin-bottom: 44px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--badges);
  font-size: 24px;
  color: var(--button);
  margin-right: 16px;
  font-weight: 600;
}

.reviewName {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
}

.reviewComment {
  color: var(--text);
  font-size: 16px;
}

.starIcon {
  fill: #FFD600;
  stroke: #FFD600;
}