.truckName {
  color: var(--main);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.33%;
  margin-bottom: 8px;
}

.truckPrice {
  color: var(--main);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.33%;
  margin-bottom: 28px;
}

.imgList {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 24px;
}

.imgItem {
  max-width: 420px;
  max-height: 280px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  cursor: pointer;
  object-fit: cover;
}

.li {
    width: calc((100% - 3 * 48px) / 3);
  }

  .truckDescription {
  color: var(--text);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}