
.navWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationList {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: -58px;
}
.backButton {
  margin-left: 32px;
  padding: 10px 24px;
  border-radius: 200px;
  background-color: var(--button);
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.backButton:hover {
  background-color: var(--button-hover);
}

.linkItem {
  font-weight: 500;
  line-height: 150%;
  color: var(--main);
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
  padding-top: 24px;
  padding-bottom: 24px;
}

.linkItem:hover {
  transform: scale(1.1);
}

.active {
  color: var(--button-hover);
}